<h2>ActiveRecordHelper</h2>
<div>
   <%= error_messages_for :employee %>
   <%= error_messages_for :employee2, :object_name => "employee" %>
  <p style="text-align:right;"><%= link_to '&raquo; NumberHelper', :action => 'number_helper' %></p>
</div>